.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#all-content{
  display: grid;
  grid-template-rows: 1fr 5fr;
}

#header{
  background-color: black;
  display: flex;
  justify-content: center;
}

#header-text{
  color: white;
}

form > input {
  width: 95%;
}

.editable{
  border: 0px;
}

#forms{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#top-form{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(8, 1fr);
}


#generalInfo-div{
  background-color: rgba(21, 57, 127, 0.5);
}

#eduExp-div{
  background-color: rgba(255, 218, 0, 0.5);
}

#workExp-div{
  background-color: rgba(21, 57, 127, 0.5);
}

p > input{
  width: 300px;
}